<a href="https://colab.research.google.com/github/vivekvision/PySparkDataWrangling/blob/main/DataframePlay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

some of the typical play with data

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 54.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=b09f6fe53ae52dda04922f90bfdd04d08078bdd8d66ddb2f73f46487d4a5d5d7
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .appName("testApp")\
        .getOrCreate()

**Read CSV data**

In [3]:
df = spark.read.csv("UsGdpYear.csv", header=True, inferSchema=True)
df.printSchema()

root
 |-- date: integer (nullable = true)
 |-- level-current: double (nullable = true)
 |-- level-chained: double (nullable = true)
 |-- change-current: double (nullable = true)
 |-- change-chained: double (nullable = true)

**Importing PySpark Functions**

In [4]:
# import useful PySpark functions
from pyspark.sql import functions as sf

**Refer a column**

In [5]:
# Recommended syntax to refer a column

sf.col('level-current')

Column<'level-current'>

In [6]:
# in certain context following might be useful 
df.date

Column<'date'>

Used of following syntax is recommended when two dataframe is involved 

df.Col1

In situations like following conditional execution, refering column by dot would be useful  

((df1.Col1 == df2.Col1) & (df1.Col2 == df2.Col2) & (df1.Col3 == df2.Col3))

**Create a new column from another column**

In [7]:
df = df.withColumn('CurrentLevel', sf.col('level-current'))

In [8]:
# dispay 5 rows of data
df.show(5)

+----+-------------+-------------+--------------+--------------+------------+
|date|level-current|level-chained|change-current|change-chained|CurrentLevel|
+----+-------------+-------------+--------------+--------------+------------+
|1930|         92.2|        966.7|         -16.0|          -6.4|        92.2|
|1931|         77.4|        904.8|         -23.1|         -12.9|        77.4|
|1932|         59.5|        788.2|          -4.0|          -1.2|        59.5|
|1933|         57.2|        778.3|          16.9|          10.8|        57.2|
|1934|         66.8|        862.2|          11.1|           8.9|        66.8|
+----+-------------+-------------+--------------+--------------+------------+
only showing top 5 rows

# Data-frame to List conversion

In [10]:
# Call to function .collect() and .toPandas() is not recommended in the production code 

df1 = df.select('date').distinct()
df1.show(5)

+----+
|date|
+----+
|1959|
|1990|
|1975|
|1977|
|2003|
+----+
only showing top 5 rows

In [11]:
df1 = df1.dropDuplicates(['date'])
df1 = df1.na.drop(how='any')

# Convert to Pandas dataframe
df_p = df1.toPandas()

# convert a column to list 
date_list = df_p['date'].tolist()